<div class="p-5 mb-4 bg-body-secondary rounded-3">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p class="lead">
    <%= @friend.email %>  | 
    <%= @friend.phone %>  |  
    <%= @friend.twitter %>
  </p>
  <br/>
    <div class="d-flex">
    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary ms-1 me-1" %>
    <%= button_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger ms-1 me-1" %>
    <%= link_to 'Back', friends_path, class:"btn btn-dark ms-1 me-1" %>
    </div>
</div>
